/* variables */

:root{
    --base: rgb(1, 4, 9);
    --secondary:rgb(13, 17, 23);
    --border:rgb(48, 54, 61);
    --svg:rgb(125, 133, 144);
    --mobile:rgb(22, 27, 34);
    --main-text:rgb(240, 246, 252);
    --secondary-text:rgb(139, 148, 158);
    --link:rgb(88, 166, 255);
    --desktop:rgb(13, 17, 23);
    --button:rgb(39, 45, 52);
}

/* styles */
body{
    background-color:var(--secondary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow-x: hidden;
    width: 100vw;
    margin-bottom: 1px;
}

a{
    text-decoration: none;
    color: var(--main-text);
    font-size: 14px;
}

/* header */

header {
    display: block;
    justify-content: space-between;
    padding-top: 16px;
    border-bottom: 1px solid rgb(33, 38, 45);
    background-color: var(--base);
}

div.h-top{
    display: flex;
}

div.h-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0;
}

div.h-start :first-child{
    margin: 0 5px;
}

div.h-start :nth-child(2){
    margin-right: 8px;
}

.octicon {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 7px;
}

div.h-end{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

div.h-end > a.header-link{
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 5px 7px;
}

div.h-end a:first-child , div.h-end a:nth-child(2){
    margin-inline-end: 9px;
}

div.h-end img{
    border-radius: 50%;
    width: 32px;
    margin:0 20px 0 10px;
}

div.h-actions{
    display: flex;
}

div.h-end > div.h-actions > a {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 6px 7px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.create-new{
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 3px;
    display: flex;
    align-items: center;
}


header>ul{
    list-style: none;
    display: flex;    
    margin: 0;
    padding: 0;
}

header>ul>li{
    padding: 7px 10px;
    margin-top: 16px;
    border-radius: 6px;
    
}

header>ul>li>a{
    display: flex;
    align-items: center;
    font-weight: 400;
}

header>ul>li>a>svg{
    fill: var(--svg);
    padding-inline-end: 8px;
}
 
header>ul>li:first-child{
    border-bottom: 2px solid rgb(247, 129, 102); 
    margin-left: 16px;
    border-radius: 0;
    border-top-right-radius:6px ;
    border-top-left-radius: 6px;
}

header>ul>li:hover{
    background-color:rgb(24, 28, 34) ;
    
}

div.h-top>div.h-end>a:hover ,div.h-actions>a:hover ,div.create-new:hover{
    background-color: rgb(24, 28, 34);
    border: 1px solid rgb(136, 133, 133);
}

div.h-start>:nth-child(3):hover{
    background-color: rgb(24, 28, 34);
    border-radius: 6px;
}

span.quantity{
    background-color: var(--border);
    border-radius: 24px;
    padding:3px 8px;
    font-size: 12px;
    margin-inline-start: 8px;
}

/* main */